<html>
<head>
<title>vCloud Application Director Demo: <%= node.name %></title>
</head>
<body bgcolor=white>

<p>
<img src="chef.png">
<img src="vmware.jpg">
</p>
<br>
<br>
<h1>Welcome to the VMware Chef Demo Server!<h1>
<br>
<h2>Deployed from vCloud Application Director at <%= Time.now %></h2>
<h2><%= node.cloud.public_hostname %> on <%= node.cloud.public_ipv4 %></h2>
</body>
</html>
